<!-- Reference for this page:https://freefrontend.com/html-css-404-page-templates/ -->
<html>
  <head>
    <title>Error Page</title>
  </head>
  <body>
    <main class="container">
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <article class="content">
        <p>OOOPPPsssss,</p>
        <p>Please enter <strong>REVIEW</strong> for prediction.</p>
        <p>
          <button onclick="history.back()">Go back to Application.</button>
        </p>
      </article>
    </main>
  </body>
</html>
